@model Tuple<IEnumerable<SelectListItem>, IEnumerable<SelectListItem>, IEnumerable<SelectListItem>>
@{
    ViewBag.Title = "Index";
}
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Item").val(0);
            $("#Item").change(function () {
                var itemId = $("#Item").val();
                getItemPrice(itemId);
            });
            $("input[type = text]").change(function () {
                calTotal();
            });
            $("input[type = text]").keyup(function () {
                calBalance();
            });
            $("#btnAddToList").click(function () {
                addToTheItemList();
            });
            $("#btnPayment").click(function ())
            {
                finalPayment();
            }
        });

        function finalPayment() { }
        var objoderViewModel = {};
        var ListOfOrderDeatilsViewModel = new Array();
        //OrderDeatilsViewModel
        objoderViewModel.PaymentType = $("#PaymentType").val();
        objoderViewModel.CustomerId = $("#Customer").val();
        objoderViewModel.FinalTotal = $("#txtTotalFinal").val();

        $("#tblItemList").find("tr:gt(0)").each(function () {
            var OderDeatilsViewModel = {};
            OderDeatilsViewModel.Total = parseFloat($(this).find("td:eq(5)").text());
            OderDeatilsViewModel.ItemId = parseFloat($(this).find("td:eq(0)").text());
            OderDeatilsViewModel.UnitPrice = parseFloat($(this).find("td:eq(2)").text());
            OderDeatilsViewModel.Quantity = parseFloat($(this).find("td:eq(3)").text());
            OderDeatilsViewModel.Discount = parseFloat($(this).find("td:eq(4)").text());
            ListOfOrderDeatilsViewModel.push(OderDeatilsViewModel);

        });

        objoderViewModel.ListOfOrderDeatilsViewModel = ListOfOrderDeatilsViewModel;

          $.ajax({
                async: true,
                type: 'POST',
                dataType: 'JSON',
              contentType: 'application/json; charset=utf-8',
              data: JSON.stringify(objoderViewModel),
                url: '/home/Index',
                success: function (data) {
                   
                },
                error: function () {
                    alert("ko them vao da ta bay dc");
                }

        function calTotal() {
            var Price = $("#txtPrice").val();
            var Discount = $("#txtDiscount").val();
            var Quantity = $("#txtQuantity").val();
            var Total = (Price * Quantity) - Discount;
            $("#txtTotalPrice").val(parseFloat(Total).toFixed(2));


        }

        function calBalance() {
            var TotalPayment = $("#txtTotalPayment").val();
            var ReturnAmount = $("#txtReturnAmount").val();
            var Balance = TotalPayment - ReturnAmount;
            $("#txtBalance").val(parseFloat(Balance).toFixed(2));
        }

        function addToTheItemList() {
            var tblItemList = $("#tblItemList");
            var Price = $("#txtPrice").val();
            var Quantity = $("#txtQuantity").val();
            var Discount = $("#txtDiscount").val();
            var ItemId = $("#Item").val();
            var ItemName = $("#Item option:selected").text();
            var Total = (Price * Quantity) - Discount;

            var ItemList = "<tr><td hidden>" +
                ItemId +
                "</td> <td>" +
                ItemName +
                "</td> <td>" +
                parseFloat(Price).toFixed(2) +
                "</td> <td>" +
                parseFloat(Quantity).toFixed(2) +
                "</td> <td>" +
                parseFloat(Discount).toFixed(2) +
                "</td> <td>" +
                parseFloat(Total).toFixed(2) +
                "</td> <td> <input type ='button' value='Remove' name='remove' class= 'btn btn-danger' onclick='RemoveItem(this)'/> </tr></tr>";

            tblItemList.append(ItemList);
            RestItem();
            FinalItemTotal();

        }

        function FinalItemTotal() {
            $("#txtTotalFinal").val("0.00");
            var FinalTotal = 0.00;
            $("#tblItemList").find("tr:gt(0)").each(function () {
                var Total = parseFloat($(this).find("td:eq(5)").text());
                FinalTotal += Total;
                //alert(FinalTotal)

            });
            $("#txtTotalFinal").val(parseFloat(FinalTotal).toFixed(2));
            $("#txtTotalPayment").val(parseFloat(FinalTotal).toFixed(2));
            $("#txtBalance").val(parseFloat(FinalTotal).toFixed(2));
    
        }
        
        function RemoveItem(Itemid) {
            $(Itemid).closest('tr').remove();
        }
        function RestItem() {
            $("#txtPrice").val('');
            $("#txtQuantity").val('1');
            $("#txtDiscount").val('0.00');
            $("#Item").val(0);
            $("#txtTotalPrice").val("");
        }

        function getItemPrice(itemId) {
            $.ajax({
                async: true,
                type: 'GET',
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                data: { itemId: itemId },
                url: '/home/getItemPrice',
                success: function (data) {
                    $("#txtPrice").val(parseFloat(data).toFixed(2));
                },
                error: function () {
                    alert("ko co");
                }

            })
        }
        function calTotal() {
            var Price = $("#txtPrice").val();
            var Discount = $("#txtDiscount").val();
            var Quantity = $("#txtQuantity").val();
            var Total = (Price * Quantity) - Discount;
            $("#txtTotalPrice").val(parseFloat(Total).toFixed(2));

        }
    </script>

<style>
    /*.modal{
        text-align:center;
        padding:0!important;
    }

    .modal:before{
        content:'';
        display: inline-block;
        height:100%;
        vertical-align: middle;
        margin-right:-4px;
    }

    .modal-dialog{
        display:inline-block;
        text-align:left;
        vertical-align:middle;
    }*/
    fieldset {
        boder: 1px soild #ddd !important;
        margin: 0;
        xmin-width: 0;
        padding: 10px;
        position: relative;
        boder-radius: 4px;
        background-color: #f5f5f5;
        padding-left: 10px !important;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 35%;
        border: 1px solid #ddd;
        boder-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }
</style>

<fieldset>
    <legend>
        Oder
    </legend>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    Customer:
                    @Html.DropDownList(name: "Customer", selectList: new SelectList(Model.Item1, dataValueField: "Value", dataTextField: "Text"),
                   htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    PaymentType:
                    @Html.DropDownList(name: "PaymentType", selectList: new SelectList(Model.Item3, dataValueField: "Value", dataTextField: "Text"),
                   htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class=" col-md-4">
                <div class="form-group">
                    TotalFinal:
                    <input style="text-align : right" type="text" readonly="readonly" id="txtTotalFinal" value="0.00" name="TotalFinal" class="form-control" />
                </div>
            </div>
        </div>
</fieldset>
<fieldset>
    <legend>
        Item
    </legend>
    <div class="container">
        <div class="row">
            <div class=" col-md-4">
                <div class="form-group">
                    Item:
                    @Html.DropDownList(name: "Item", selectList: new SelectList(Model.Item2, dataValueField: "Value", dataTextField: "Text"),
                   htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class=" col-md-4">
                <div class="form-group">
                    Price;
                    <input style="text-align : right" type="text" readonly="readonly" id="txtPrice" value="0.00" name="Price" class="form-control" />
                </div>
            </div>
            <div class=" col-md-4">
                <div class="form-group">
                    Quantity;
                    <input style="text-align: right" type="text" id="txtQuantity" value="0.00" name="Quantity" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">

            <div class=" col-md-4">
                <div class="form-group">
                    Discount;
                    <input style="text-align: right" type="text" id="txtDiscount" value="0.00" name="Discount" class="form-control" />
                </div>
            </div>

            <div class=" col-md-4">
                <div class="form-group">
                    TotalPrice;
                    <input style="text-align: right" type="text" readonly="readonly" id="txtTotalPrice" value="0.00" name="TPrice" class="form-control" />
                </div>
            </div>
            <div class=" col-md-4>
                <div class="form-group">
                    <input type="button" style="margin-top : 15px" id="btnAddToList" value="Add To List" name="AddToList" class="btn btn-success" />
                </div>

            </div>

        </div>
</fieldset>
<fieldset>
    <legend>
        List Item
    </legend>
    <table style="width: 100%" id="tblItemList">
        <thead>
            <tr>
                <th hidden>
                    Item Id
                </th>
                <th>
                    Item Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quatity
                </th>
                <th>
                    Discount
                </th>
                <th>
                    Total
                </th>
                <th>
                    Action
                </th>

            </tr>
        </thead>

    </table>
</fieldset>
<div style="margin-top:10px">
    <input data-backdrop="modal" data-keydrop="false"
           data-toggle="modal" data-target="#divPayment" style="float: right " type="button" value="Checkout" id="btnCheckout" name="CheckOut" class="btn btn-primary" />
</div>

<div id="divPayment" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Payment</h4>
            </div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="form-group col-md-4">
                        Total Payment:
                        <input style="text-align:right" type="text" value="0.00" id="txtTotalPayment" readonly="readonly" class="form-control" />
                    </div>
                    <div class="form-group col-md-4">
                        Return Amount:
                        <input style="text-align:right" type="text" id="txtReturnAmount" value="0.00" name="ReturnAmount"class="form-control" />
                    </div>
                </div>


                <div class="row">
                    @*<div class="form-group col-md-6">
            Return:
            <input  style="text-align:right" type="text" value="0.00" id="txtReturn"  class="form-control" />
        </div>*@
                    <div class="form-group col-md-6">
                        Balance;
                        <input style="text-align: right" type="text" id="txtBalance" value="0.00" name="Balance" class="form-control" />
                    </div>
                </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="btnPayment" value="Payment">Payment</button>
                <button class="btn btn-danger" id="btnClose" data-dismiss="modal" value="close">Close</button>
            </div>
        </div>
    </div>
</div>

<h2>Index</h2>

